# See https://help.github.com/articles/ignoring-files for more about ignoring files.

/.bundle
/.env*
!/.env.example
/.kamal/secrets
/.rails_tmp
/coverage
/log/*
/node_modules
/storage/*
/tmp/*
/vendor/bundle

!/log/.keep
!/storage/.keep
!/tmp/.keep
!/tmp/pids
!/tmp/pids/.keep
/tmp/pids/*.pid

/config/master.key
/public/assets
/public/packs

.DS_Store
Thumbs.db

/app/assets/builds/*
!/app/assets/builds/.keep
